* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



header .header-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 100%;
    align-items: center;
    margin: auto;

}

header nav {
    display: flex;
}

header nav a,
.theme-btn {
    padding: 0 5px;
}

header .theme-btn {
    cursor: pointer;
}

/*HEADER BTN - ANCHOR STYLES*/

header .header-container a {
    font-size: 20px;
    text-decoration: none;
    margin: 0 5px;
}

header .header-container .theme-btn {
    font-size: 20px;
    border: none;
}

main {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.dark-mode {
    /*background-color: rgb(32, 38, 57);*/
    background-color: #121212;
    color: whitesmoke;

}

.dark-secondary {
    background-color: #48444489;
}

/*LIGHT MODE THEMES*/

.light-mode {
    background-color: #dee4e7;
    color: #222222;
}

.light-secondary {
    background-color: #37474f6a;
}